:host{

  --ModerateBlue: hsl(238, 40%, 52%);
  --SoftRed: hsl(358, 79%, 66%);
  --LightgrayishBlue: hsl(239, 57%, 85%,20%);
  --PaleRed: hsl(357, 100%, 86%);
  --DarkBlue: hsl(212, 24%, 26%);
  --GrayishBlue: hsl(211, 10%, 45%);
  --LightGray: hsl(223, 19%, 93%);
  --VeryLightGray: hsl(228, 33%, 97%);
  --White: hsl(0, 0%, 100%);

  /*display: flex;
  gap: 20px;*/
  padding-left: 10px;
  border-left: 1px solid hsl(0, 0%, 84%);
  display: block;
  margin-left: 40px;

}

.container{
  display: flex;
  gap: 20px;
}

.separation{
  height: 100px;
  width: 1px;
  background-color: black;
}

article{
  display: flex;
  padding: 10px;
  gap: 10px;
  color: var(--GrayishBlue);
  /*padding-left: 20px;*/
  /*border-left: 1px solid black;*/
  /*margin-left: 10px;*/
  background-color: white;
  margin-bottom: 10px;
}

.comment_score{
  display: flex;
  flex-flow: column;
  gap: 5px;
  align-items: center;
  background-color: var(--LightgrayishBlue);
  color: var(--ModerateBlue);
  padding: 5px;
  border-radius: 5px;
  height: max-content ;
}

.comment_score button{
  border-style: none;
  color: var(--DarkBlue);
  font-weight:bolder;
  background-color: transparent;
}

.comment_content{
  display: flex;
  flex-flow: column;
  width: 100%;
}

.content_header{
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.header_tittle{
  gap: 5px;
  width: max-content;
  display: flex;
  align-items: center;
}

.tittle_user{
  font-weight: bold;
  color: black;
}

.header_tittle img{
  width: 25px;
}

.phoneReply{
  display: none;
  background-color: transparent;
  color: var(--ModerateBlue);
  border: none;
  border-style: none;
  font-weight: bold;
}

.desktopReply{
  background-color: transparent;
  color: var(--ModerateBlue);
  border: none;
  border-style: none;
  font-weight: bold;
}

@media(max-width:800px){

  :host{
    margin-left: 0px;
  }

  article{
    flex-flow: column-reverse;
  }

  .comment_score{
    flex-flow: row;
    width: max-content;
  }

  .phoneReply{
    display: block;
  }

  .desktopReply{
    display: none;

  }

  .utils{
    display: flex;
    width: 100%;
    justify-content: space-between;
  }



}
