
<app-comment [comentaryData]="this.comment"  (replyChange)="manageReplyStatus($event)"></app-comment>
<h1>ReplyGlobalStatus : {{this.replyStatus}}</h1>
<h1>Comentary Form : {{comentaryForm}}</h1>
@if(this.comentaryForm && this.replyStatus == true){
  <app-comentary-form [comentaryId]="this.id" (replyComentaryForm)="manageReplyStatus($event)" [isReplying]="true"></app-comentary-form>
}

@if(this.replys && this.replys.length > 0){
  <div class="replyHandler">
  @for(reply of this.replys ; track $index){
      <app-comentary-handler [id]="reply.id" [comment]="reply"></app-comentary-handler>
    }
  </div>
}
